.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;

  @include sm {
    max-width: 56.25rem;
  }
  @include md {
    max-width: 74.063rem;
  }
  @include lg {
    max-width: 111.563rem;
  }
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}